@using WebsiteForum.Areas.User.Models
@model ApplicationUserVM


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="">
    <table class="table table-striped" id="tblData">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Profile Picture
                </th>
                <th>
                    Email
                </th>
                <th>
                    Is Ban
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ApplicationUsers)
            {
                if (item.IsBan == true)
                {
                    <tr >
                        <td class="text-bg-danger text-truncate">
                            @item.Id
                        </td>
                        <td style="width:50px; height:50px">
                            <img src="@item.ProfilePicture" style="width:50px; height:50px" />
                        </td>
                        <td class="text-bg-danger">
                            @item.Email
                        </td>
                        <td class="text-bg-danger">
                            @item.IsBan
                        </td>
                        <td>
                            <a asp-action="UnBan" asp-route-id="@item.Id">Un Ban</a>
                        </td>

                    </tr>
                }
                else
                {
                    <tr>
                        <td class="text-truncate">
                            @item.Id
                        </td>
                        <td style="width:50px; height:50px">
                            <img src="@item.ProfilePicture" style="width:50px; height:50px" />
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.IsBan
                        </td>
                        <td>
                            <a asp-action="Ban" asp-route-id="@item.Id">Ban</a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>

@section scripts {
    <script src="/js/dataTable.js"></script>
}